# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Build and distribution
build/
dist/
*.spec
*.exe

# PyInstaller build artifacts
*.manifest
*.egg-info/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Mac
.DS_Store

# Copilot
.copilot/ 